@inherits LayoutComponentBase

<nav class="navbar navbar-expand navbar-dark bg-primary sticky-top py-0">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<NavLink class="nav-link p-4" href="shows">Shows</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link p-4" href="torrents">Torrents</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link p-4" href="debrid">Debrid</NavLink>
		</li>
		@*
			<li class="nav-item">
				<NavLink class="nav-link p-4" href="downloads">Downloads</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link p-4" href="subtitles">Subtitles</NavLink>
			</li>
		*@
		<li class="nav-item">
			<NavLink class="nav-link p-4" href="watcher">Watcher</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link p-4" href="ping">Ping</NavLink>
		</li>
	</ul>
</nav>
<main class="px-5 py-3">
	@Body
</main>