@page "/downloads"
@inject DownloadsService _downloadsService
@inject IJSRuntime _js

@if (!_login)
{
	<div class="w-100 text-center">
		<input @bind="_loginUserName" />
		<input @bind="_loginPassword" />
		<button class="btn btn-primary" @onclick="OnLogin">
			Login
		</button>
	</div>
}
else
{
	<div class="d-flex w-100 justify-content-end align-items-center mb-1">
		@if (_busy)
		{
			<div class="spinner-border mx-3"></div>
		}
		<button class="btn btn-primary"
				@onclick="OnReload"
				disabled="@_busy">
			Reload
		</button>
	</div>
}

@if (_items != null)
{
	<table class="table">
		@foreach (var item in _items)
		{

		}
	</table>
}

@code {
	private bool _login;
	private string _loginUserName, _loginPassword;
	private IEnumerable<DownloadModel> _items;
	private bool _busy = true;

	protected override void OnInitialized()
	{
		_login = _downloadsService.Login();
		OnReload();

	}

	private void OnLogin()
	{
		_login = _downloadsService.Login(_loginUserName, _loginPassword);
		OnReload();
	}

	private void OnReload()
	{
		if (_login)
		{
			_busy = true;
			StateHasChanged();
			_items = _downloadsService.GetItems();
			_busy = false;
		}
	}

	private string GetRowClass(DebridStatus status)
	{
		return status switch
		{
			DebridStatus.Finished => "bg-success",
			DebridStatus.Error => "bg-danger",
			_ => null
		};
	}
}