<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<PublishProvider>FileSystem</PublishProvider>
		<PublishUrl>bin\publish\</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
	</PropertyGroup>
</Project>